@font-face {
    font-family: 'Mars';
    src: url(./assets/fonts/Mars.woff2) format('woff2');
    font-style: bold;
    font-weight: 100 700;
    font-display: swap;
}

@font-face {
    font-family: 'nasalization';
    src: url(./assets/fonts/Nasalization.woff2) format('woff2');
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}