:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-p: #A78BFA;
  --color-a1: #B8A1FF;
  --color-a2: #7E5CFF;
  --color-n1: #0D0B12;
  --color-n2: #2F2B3B;
  --color-n3: #474257;
  --color-n4: #8A7AB8;
  --color-n5: #ECE5FF;
  --color-s1: #F5C0C9;
  --color-s2: #C6F7D1;
  --color-s3: #F9E4C5;
  --color-s4: #C0E8F2;
}

body, html {
  margin: 0;
  background-color: var(--color-n1);
}